
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;

  outline: 5px solid greenyellow;
  outline-offset: -5px;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 500px;
}

.navigation-user {
  margin-left:auto;
  max-width: 310px;
}


.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.logo{
  display: block;
  margin-left: 70px;
}

.main-container {
width: 1200px;
margin: 0 auto;

}

.main-index {
  text-align: center;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  padding-top: 51px;
}

.welcome {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.advantages-subtitle {
padding-top: 69px;
padding-bottom: 69px;
margin: 0 auto;
}

.subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.text-main {
  margin-top: 25px;
}

.advantages-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-title  {
  text-transform: uppercase;
  color: #333333;
}


.advantages-title-big {
color:#FFFFFF;
text-transform: uppercase;
}

.advantages-item  {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-road {
background-color:rgba(131, 179, 211, 0.2);
}

.advantages-item-city {
background-color: #82B3D3;
color: #FFFFFF;
}

.advantages-item-bridge {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.infrastructure {
  list-style: none;
  display: flex;
  margin: 0;

}

.infrastructure-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}


.infrastructure li:nth-child(2) {
  background-color: #FFFFFF;
}

.advantages-icon-subtitle {

}


.button {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
}

.search .button {
  background-color: #756157;
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-color: #82B3D3;
  background-size: auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.field {
  font-family: "PT Sans", sans-serif ;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
}

.button-subscription {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
}

.footer-telephone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}


.filter-content {
  background-color: #82B3D3;
  background-image: url(../images/catalog-background.jpg);
  color: #FFFFFF;
  background-size: auto;
  background-repeat: no-repeat;
  font-weight: 700;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.price-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-content .button {
  font-size: 16px;
  line-height: 20px;
}

.button-submit {
  background-color: #82B3D3;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-list {
  list-style: none;
}

.product-card-link {
  font-size: 24x;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.product-card .text {
font-size: 18px;
line-height: 21px;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-card-button-more {
font-size: 16px;
line-height: 20px;
background-color:#756157;
}

.product-card-button-favorite {
  font-size: 16px;
  line-height: 20px;
}

.raiting-amount {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  color: #333333;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
color: #000000;
text-decoration: none;
font-size: 20px;
line-height: 36px;
background-color: #F2F2F2;
}

.subscribe-catalog {
  background-color:#FFFFFF;
  text-align: center;
}
