@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container {
  background-color: #FFFFFF;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  align-items: flex-start;
}

.navigation-list {
  margin: 0;
  margin-left: 238px;
  padding: 0;
  width: 500px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link-state:hover {
  background-color: #83B3D3;
  opacity: 0.5;
}

.navigation-link-state:focus {
  color: #000000;
  opacity: 0.5;
}

.navigation-link-state:active {
  color: #000000;
  opacity: 0.2;
}

.navigation-user {
  display: flex;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  max-width: 310px;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.navigation-icon::before {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #7DB54F;
  content: "12";
  border-radius: 10px;
  top: 11px;
  left: 20px;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  font-family: "PT Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-item {
  position: relative;
}

.navigation-user-item {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 16px;
  right: 16px;
  background-color: #756257;
  content: "";
}

.catalog-navigation-link-current::before {
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 16px;
  right: 16px;
  background-color: #756257;
  content: "";
}

.navigation-user-item:nth-child(1)
.navigation-link {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-item:nth-child(2)
.navigation-link {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-item:nth-child(3)
.navigation-link {
  width: 160px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 20px;
}

.navigation-user-item:nth-child(3) {
  margin-top: 14px;
}

.logo {
  display: block;
  margin-left: 70px;
  margin-right: 30px;
  position: absolute;
  z-index: 2;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  position: relative;
}

.main-index {
  text-align: center;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  width: 1200px;
  height: 485px;
  padding-top: 51px;
  box-sizing: border-box;
}

.hero::after {
  background-image: url("../images/divider.svg");
  background-repeat: repeat;
  width: 1200px;
  height: 57px;
  position: absolute;
  content: "";
  left: 0px;
  top: 428px;
}

.welcome {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.advantages-subtitle {
  padding-top: 69px;
  padding-bottom: 90px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

.subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 0;
}

.search .subtitle {
  margin-bottom: 20px;
  margin-top: 0;
}

.text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 0
}

.text-main {
  margin-top: 25px;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-title {
  text-transform: uppercase;
  color: #333333;
}

.advantages-item .advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.advantages-list .advantages-description {
  margin-top: 62px;
  margin-bottom: 0;
  position: relative;
}

.advantages-title-state::before {
  content: " ";
  background: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
  top: 188px;
  left: 170px;
  right: 170px;
  bottom: 8px;
  position: absolute;
}


.infrastructure .advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
}

.infrastructure .advantages-description {
  width: 230px;
  margin: 0;
  color: #333333;
}

.advantages-title-big {
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-item-city {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 1200px;
  display: flex;
  position: relative;
}

.advantages-title-picture {
  width: 400px;
}

.advantages-title-picture .advantages-description::before {
  content: " ";
  background: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
  left: 85px;
  top: -30px;
  position: absolute;
}

.advantages-item-bridge {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 1200px;
  display: flex;
}

.advantages-item-square,
.advantages-title-picture,
.advantages-item-road,
.advantages-item-tourist,
.advantages-title-picture {
  padding-top: 112px;
  padding-bottom: 102px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
  position: relative;
}

.advantages-item-square .advantages-description,
.advantages-item-road .advantages-description,
.advantages-item-tourist .advantages-description {
  color: #333333;
}

.advantages-title-picture {
padding-top: 102px;
}

.advantages-item-square .advantages-description::before,
.advantages-item-road .advantages-description::before,
.advantages-item-tourist .advantages-description::before {
  content: " ";
  background: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 2px;
  left: 85px;
  top: -30px;
  position: absolute;
}

.infrastructure {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.infrastructure-item-house {
  background-image: url(../images/accommodation.svg);
  background-repeat: no-repeat;
  background-position: 50% 81px;
}

.infrastructure-item-burger {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: 50% 82px;
}

.infrastructure-item-souvenir {
  background-image: url(../images/souvenir.svg);
  background-repeat: no-repeat;
  background-position: 50% 79px;

}

.infrastructure-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
  padding-top: 183px;
  padding-bottom: 81px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
}

.infrastructure li:nth-child(2) {
  background-color: #FFFFFF;
}

.advantages-icon-subtitle {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 70px;
  padding-right: 70px;
}

.search {
  width: 1200px;
  height: 406px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

.button {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.button-brown {
  border-radius: 4px;
  background-color: #756157;
  color: #FFFFFF;;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}
.button-blue {
  border: none;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
  color:rgba(255, 255, 255, 0.3);
}

.button-blue:disabled {
  background-color: #E5E5E5;
  color:#FFFFFF;
}

.button-green {
  border: none;
  background-color: #7DB54F;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
}

.button-green:active {
  background-color: #7DB54F;
  color:rgba(255, 255, 255, 0.3);
}

.button-green:disabled {
  background-color: #E5E5E5;
  color:#FFFFFF;
}

.search .button {
  margin-top: 54px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  box-sizing: border-box;
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 1200px;
  min-height: 415px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

.subscribe .text {
  color: #FFFFFF;
}

.subscribe-email {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
  box-sizing: border-box;
  border: none;
  border-top-left-radius:  4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
  font-weight: 400;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
  outline: 2px solid #83B3D3;
}

.field:focus-visible {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.button-subscription {
  font-family: "PT Sans", sans-serif;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 232px;
  height: 52px;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.page-footer {
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1068px;
  min-height: 50px;
  margin-top: 40px;
  box-sizing: border-box;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  max-width: 143px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  min-height: 40px;
  text-align: center;
}

.footer-social-item .button {
  background-color: #FFFFFF;
  display: block;
  padding: 15px 11px;
  box-sizing: border-box;
  color: #83B3D3;

}



.footer-social-link:hover {
  color:#68A2CA;
}

.footer-social-link:focus {
  color: #68A2CA;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3)

}

.footer-telephone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding: 5px 5px;
  margin-left: 10px;
}

.footer-telephone:hover {
  color: #756157;
}

.footer-telephone:focus {
  color: #756157;
}

.footer-telephone:active {
  color: rgba(117, 97, 87, 0.3)
}

.footer-logo {
  padding: 8px 8px;
  color: #000000;
}

.footer-logo:hover {
  color: #756157;
}

.footer-logo:active {
  color:#756157;
  opacity: 0.3;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link-hotel {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-link-hotel:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-hotel:focus {
  color: #FFFFFF;
}

.breadcrumbs-link-hotel:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-main {
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 29px;
}

.breadcrumbs-link-main:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-main:focus {
  color: #FFFFFF;
}

.breadcrumbs-link-main:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-main::before {
  position: absolute;
  background-image: url(../images/breadcrumbs-icon.svg);
  width: 7px;
  height: 10px;
  top: 5px;
  left: 23px;
  content: "";
}

.filter-content {
  background-color: #82B3D3;
  background-image: url(../images/catalog-background.jpeg);
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 700;
  width: 1200px;
  min-height: 412px;
  padding-left: 70px;
  padding-top: 35px;;
  box-sizing: border-box;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin-bottom: 16px;
}

.catalog-filter-item:hover {
  color:rgba(255, 255, 255, 0.6);
  fill:rgba(255, 255, 255, 0.6);
}

.price {
  width: 288px;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 140px;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.price-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter-content .button {
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-list {
  width: 150px;
  min-height: 157px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-container {
  display: flex;
  width: 1060px;
  min-height: 160px;
}

.button-submit {
  background-color: #82B3D3;
  width: 191px;
  min-height: 36px;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.button-reset {
  width: 191px;
  min-height: 36px;
  margin-top: 32px;
  overflow-wrap: break-word;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.button-filter {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.catalog {
  width: 1200px;
  min-height: 1235px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  position: relative;
  box-sizing: border-box;
}

.catalog::before {
  content: "";
  width: 1060px;
  height: 1px;
  background-color: #E6E6E6;
  position: absolute;
  top: 1075px;
}

.catalog-container {
  display: flex;
  align-items: start;
  margin-bottom: 40px;
}

.view-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

.view-list .button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color: #FFFFFF;
}

.view-item:nth-child(3) .button-view {
  margin: 0;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  margin-right: 70px;
  padding: 12px 20px;
  padding-right: 40px;
  appearance: none;
  border-radius: 4px;
  background-image: url("../images/cursor-down.svg");
  background-repeat: no-repeat;
  background-position: 258px;
  background-color: #FFFFFF;
  position: relative;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #3F5E72;
  outline: none;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.button-view {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-view:hover {
  border-color: #000000;
  outline: none;
}

.button-view:focus {
  border-color: #68A2CA;
  outline: none;
}

.button-view:active {
  border-color: #000000;
  outline: none;
}

.search-subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-right: 200px;
  max-width: 338px;
  padding-top: 7px;
}

.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  gap: 20px;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  align-items: end;
  gap: 16px 20px;
  padding: 20px;
  outline: 1px solid #E6E6E6;
  grid-template-rows: 1fr repeat(3, auto);
}

.product-card-link {
  font-size: 24x;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  display: grid;
  grid-column: 1/-1;
  align-self: start;
}

.product-list .product-card-title {
  font-size: 24px;
}

.product-card-image link {
  grid-column: 2/-1;
}

.product-card-title {
  grid-column: 1/-1;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.product-card-hotel {
  grid-column: 1/2;
}

.product-card .text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  grid-column: 2/3;
  justify-self: end;
}

.product-card .button {
  width: 140px;
  min-height: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 0;
}

.product-card-button-more {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.product-card-button-favorite {
  font-size: 16px;
  line-height: 20px;
}

.raiting {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  list-style-type:none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.raiting-star {
  background-image: url("../images/star.svg");
  background-repeat: repeat;
  background-size: 18px 17px;
  width: 19px;
  height: 19px;
  margin-right: 6px;


}

.raiting-amount {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  color: #333333;
  text-transform: uppercase;
  justify-self: center;
  width: 140px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 12px;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  background-color: #F2F2F2;
}

.pagination-empty {
  background-color: #FFFFFF;
}

.subscribe-catalog {
  background-color: #FFFFFF;
  text-align: center;
  width: 1200px;
  min-height: 415px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 48px;
  background-color: rgba(255, 255, 255, 0.3);
  order: 1;
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px;
}

.range-toggle:focus {
  background-color: rgba(0, 0, 0, 0.25);
  border: 3px solid #83B3D3;
  box-shadow: 0 4px;
}

.range-toggle:active {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #83B3D3;
  box-shadow: 0 4px;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}
.range-input {
  width: 143px;
  padding: 12px 20px;
  font:inherit;
  border: none;
  background-color: #F2F2F2;
  box-sizing: border-box;
  padding-right: 50px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-wrapper-inputs {
  display: flex;
}

.range-wrapper-inputs span {
  position: absolute;
  content: "от";
  right: 20px;
  transform: translateY(40%);
  width: 20px;
  height: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgb(170, 170, 170)
}

.catalog-filter-label {
  display: flex;
  margin-right: 2px;
  position: relative;
}

.range-input-min {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}

.range-input-max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.catalog-filter-group {
  margin:0;
  padding: 0;
  border: none;
}

.catalog-filter-group-infrastructure {
  margin-right: 70px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control-mark:hover {
  background-color: tomato;
}

.control {
  position: relative;
  display: block;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6)
}

.control:focus-within .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  outline: 2px solid #83B3D3;
}

.control-label {
  padding-left: 36px;
}

.control-mark-border {
  border-radius: 10px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url(../images/tick-checkbox.svg);
  width: 12px;
  height: 10px;
  top: 5px;
  left: 4px;
  content: "";
}

.control-input[type="radio"]:checked + .control-mark::before,
.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  background-image: url(../images/tick-radio.svg);
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  content: "";
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color:rgba(242, 242, 242, 0.8);

}

.modal {
  position: relative;
  margin: auto;
  margin-top: 396px;
  padding: 64px 70px;
  padding-top: 7px;
  background-color: #ffffff;
}

.modal-auth {
  width: 577px;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  background-color: transparent;
  border:none;
  transform:translate(537px,55px);
  fill: #F2F2F2;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  max-width: 500px;
}

.modal-arrival-date,
.modal-departure-date,
.modal-adults-amount,
.modal-child-amount
{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  max-width: 115px;
  display: block;
  padding-top: 12px;
}

.modal-child-amount {
  margin-right: 89px;
}

.modal-input-date {
  width: 440px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 45px 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  background-color: #F2F2F2;
  margin-bottom: 4px;
  color: #000000;
}

.modal-input-date::placeholder {
  color: #000000;
  opacity: 0.6;
}

.modal-input-date:hover {
  background-color: #E6E6E6;
}

.modal-input-date:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color:rgba(0, 0, 0, 0.3)
}

.modal-input-date-calendar {
  position: relative;
}

.modal-input-date-calendar::before {
  position: absolute;
  background-image: url(../images/icon-calendar.svg);
  width: 16px;
  height: 15px;
  top: 16px;
  right: 22px;
  content: "";
}

.modal-input-amount {
  width: 31px;
  height: 48px;
  text-align: center;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-input-amount:hover {
  background-color: #E6E6E6;
}

.modal-input-amount:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color:rgba(0, 0, 0, 0.3)
}

.modal-arrival {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.modal-calendar {
  position: absolute;
  right: 22px;
}

.text-false {
  margin-left: 157px;
  color: #FF5757;
  font-size: 16px;
  line-height: 21px;
}

.text-true {
  margin-left: 157px;
  font-size: 16px;
  line-height: 21px;
}

.modal-departure {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  margin-top: 23px;
}

.departure-calendar {
  position: absolute;
  right: 22px;
}

.modal-adults {
  display: flex;
  align-items: start;
  width: 247px;
}

.modal-child {
  display: flex;
  align-items: start;
  box-sizing: border-box;
}

.modal-visitors {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  height: 48px;
}

.modal-search {
  width: 577px;
  height: 60px;
  margin-top: 48px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
}

.modal-form-adults {
  margin-right: 52px;
}

.modal-form-child {
  display: flex;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }

input[type='number'] {
  -moz-appearance: textfield;
}

.button-minus {
  width: 40px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0;
}


.button-plus {
  width: 40px;
  height: 48px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  background-color: #F2F2F2;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  padding-top: 12px;
}

.tooltip-icon {
  width: 26px;
  height: 26px;
  display: block;
  color: #83B3D3;
}

.tooltip-toggle:hover .tooltip-icon {
  color: rgba(131, 179, 211, 0.5);
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding-left: 22px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 18px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 6px;
  left: 50%;
  transform: translate(-120px,180px);
  z-index: 1;
  box-sizing: border-box;
  display: none;
}

.tooltip-text::before {
  background-image: url(../images/tooltip-triangle.svg);
  width: 19px;
  height: 9px;
  content: "";
  position: absolute;
  top: -9px;
  left: 115px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}


.tooltip {
  position: absolute;
  margin-left: 60px;
  width: 16px;
  height: 16px;
}

.button-adults {
  display: flex;
}

.button-child {
  display: flex;
}

.modal-close-button {
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50px;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button svg {
  padding: 10px 10px;
}

.modal-close-button svg:active {
  color: rgba(117, 97, 87, 0.3);
}

.button-minus svg {
  padding: 23px 13px 23px 13px;
}

.button-plus svg {
  padding: 17px 13px 17px 13px;
}

.modal-button svg {
  fill:rgba(117, 97, 87, 0.3);
}

.modal-button svg:hover {
  fill: #000000;
}

.modal-button svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

.photo-residence {
  object-fit: cover;
  height: 100%;
}

.photo-grand-canyon {
  object-fit: cover;
  height: 100%;
}
