@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
  min-width: 1280px;
  display: flex;
  flex-direction: column;

  outline: 5px solid greenyellow;
  outline-offset: -5px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 500px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  max-width: 310px;
  list-style-type: none;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.logo {
  display: block;
  margin-left: 70px;
  margin-right: 30px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  width: 1200px;
  height: 485px;
  padding-top: 51px;
  box-sizing: border-box;
}

.welcome {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.advantages-subtitle {
  padding-top: 69px;
  padding-bottom: 69px;
  margin: 0 auto;
}

.subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.search .subtitle {
  margin-bottom: 20px;
  margin-top: 0;
}

.text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 0
}

.text-main {
  margin-top: 25px;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-title {
  text-transform: uppercase;
  color: #333333;
}

.advantages-item .advantages-title {
  margin: 0;
}

.advantages-list .advantages-description {
  margin-top: 62px;
}

.infrastructure .advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.infrastructure .advantages-description {
  width: 230px;
}

.advantages-title-big {
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-item-city {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 1200px;
  display: flex;
}

.advantages-title-picture {
  width: 400px;
}

.advantages-item-bridge {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 1200px;
  display: flex;
}

.advantages-item-square,
.advantages-title-picture,
.advantages-item-road,
.advantages-item-tourist,
.advantages-title-picture {
  padding-top: 102px;
  padding-bottom: 102px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
}

.infrastructure {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.infrastructure-item-house {
  background-image: url(../images/accommodation.svg);
  background-repeat: no-repeat;
  background-position: 50% 81px;
}

.infrastructure-item-burger {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: 50% 82px;
}

.infrastructure-item-souvenir {
  background-image: url(../images/souvenir.svg);
  background-repeat: no-repeat;
  background-position: 50% 79px;

}

.infrastructure-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
  padding-top: 183px;
  padding-bottom: 81px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
}

.infrastructure li:nth-child(2) {
  background-color: #FFFFFF;
}

.advantages-icon-subtitle {
  padding-top: 64px;
  padding-bottom: 64px;
}

.search {
  width: 1200px;
  height: 406px;
  margin: 0 auto;
  padding-top: 96px;
}

.button {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
}

.search .button {
  background-color: #756157;
  margin-top: 54px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  width: 376px  ;
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 1200px;
  min-height: 415px;
  margin: 0 auto;
  padding-top: 96px;

}

.subscribe .text {
  color: #FFFFFF;
}

.subscribe-email {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
  box-sizing: border-box;
  border: 0;
}

.button-subscription {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  height: 52px;
  box-sizing: border-box;
  border: 0;
}

.page-footer {
  width: 1200px;
  height: 120px;
  margin: 0 auto;

}

.page-footer-conteiner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1060px;
  height: 50px;
  margin-top: 40px;

}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 190px;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-telephone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.filter-content {
  background-color: #82B3D3;
  background-image: url(../images/catalog-background.jpg);
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 700;
  width: 1200px;
  height: 412px;
  padding-left: 70px;
  padding-top: 35px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.price-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-content .button {
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-list {
  width: 150px;
  height: 157px;
  list-style-type: none;
}

.catalog-filter-container {
  display: flex;
  width: 1060px;
  height: 160px;
}

.button-submit {
  background-color: #82B3D3;
  width: 191px;
  min-height: 36px;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.button-reset {
  width: 191px;
  min-height: 36px;
  margin-top: 48px;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.button-filter {
  display: flex;
  flex-direction: column;
}

.catalog {
  width: 1200px;
  min-height: 1235px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
}

.catalog-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.view-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.view-list .button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color: #FFFFFF;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  outline: 2px solid #E5E5E5;
  border: 0;
  margin-right: 70px;
  padding-left: 20px;
}

.search-subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-right: 200px;
}

.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  gap: 20px;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
}

.product-card-link {
  font-size: 24x;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  display: grid;
  grid-column: 1/-1;
}

.product-card-image link {
  grid-column: 2/-1;
}

.product-card-title {
  grid-column: 1/-1;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.product-card-hotel {
  grid-column: 1/2;
}

.product-card .text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  grid-column: 2/3;
  justify-self: end;
}

.product-card .button {
  width: 140px;
  min-height: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 0;
}

.product-card-button-more {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.product-card-button-favorite {
  font-size: 16px;
  line-height: 20px;
}

.raiting {
  display: flex;
  justify-content: start;
}

.raiting-amount {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  color: #333333;
  text-transform: uppercase;
  justify-self: center;
  width: 140px;
  height: 37px;
  text-align: center;
  padding-top: 9px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 12px;
}

.pagination-current {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  background-color: #F2F2F2;
}

.subscribe-catalog {
  background-color: #FFFFFF;
  text-align: center;
  width: 1200px;
  min-height: 415px;
  margin: 0 auto;
  padding-top: 96px;
}
